.Header {
    width: 100%;
    background-color: wheat;
    font-family: 'Playfair Display';

}
.Wrapper {
    margin: 0 auto;
    max-width: 1080px;
}

.Header_Wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1080px;
    padding: 15px 25px;

}

.Header_logo {
    font-size: 30px;
    font-weight: bold;
}

.Header_logo a{
    color: black;
    text-decoration: none;
    transition: color 150ms ease;
}

.Header_logo a:hover {
    color: whitesmoke;
}

.Header_nav a {
    border-bottom: 1px solid transparent;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
    padding: 2px 5px;
    transition: border-bottom 300ms ease;
}

.Header_nav a:hover {
    border-bottom: 1px solid black;
}

.HomeWrapper {
    padding: 0 25px;
}

.HomeWrapper h1, h2 {
    font-family: "Playfair Display";
}

.Form {
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;

}

.Form label {
    font-size: 12px;
    font-weight: bold;
    opacity: 0.7;
    margin-bottom: 5px;
    text-transform: uppercase;

}

.Form input {
    font-size: 16px;
    padding: 8px 5px;
    margin-bottom: 20px;
}

.Form button {
    font-size: 16px;
    padding: 8px 5px;
    border-radius: 5px;

}

.Form button:hover {
    background-color: wheat;
}


.CreateWrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.CreateWrapper > div {
    flex-basis: 75%;
    width: 100%;
}

.CreateInformation {
    padding-left: 25px;
}

.LoginForm {
    margin: 0;
    max-width: 500px;
    text-align: center;
}

.Login h1{
    text-align: center;
} 

.CreateScrapbookForm {
    align-content: flex-start;
    padding-left: 50px;
}

.CreateScrapbookForm button{
    border: 0px;
    border-radius: 50px;
    width: 50%;
}


.ScrapbookWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.ScrapbookWrapper a {
    color: black;
    text-decoration: none;
    border-width: 50px;
}

.square {
    background-color: white;
    width: 50px;
    height: 50px;
}

.Scrapbook {
    padding: 25px 200px 50px;
    text-align: left;
}

.Scrapbook a{
    color: black;
    text-decoration: none;
    transition: color 300ms ease;
    transition: color 300ms ease;
    font-weight: bold;
}

.Scrapbook a:hover{
    color:#e6d7b1;
}

.Scrapbook h2 {
    text-align: center;
}

.Scrapbook img {
    display: block;
    margin: 0 auto;
    max-height: 300px;
    margin-bottom: 50px;
}

.ScrapbookWrapper img {
    max-height: 200px;
}

.SampleWrapper {
    display: flex;
    width: max-content;
    flex-direction: column;
    text-align: center;
    background-color: #fffff2;
    border: 0.5px solid darkgray;
    padding: 15px;
}

.SampleWrapper h3 {
    margin: 5px;
}

.SampleWrapper p {
    margin: 5px;
}